{% extends 'padre.html' %}

{% load static %}
    

    
{% block contenido %}
    

    <table class= "table">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>camada</th>
            </tr>
        </thead>
        <tbody>
            {% for n in cursos %}
                <tr>
                    <th scope="row">{{n.ID}}</th>
                    <td>{{n.nombre}}</td>
                    <td>{{n.camada}}</td>
            {% endfor %}

        </tbody>

    </table>
{% endblock %}