{% extends "padre.html"%}

{%load static%}

{% block contenido%}

<form action="profesores" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellido" name="apellido" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="especialidad" class="form-label">Especialidad</label>
    <input type="text" class="form-control" id="especialidad" name="especialidad" aria-describedby="emailHelp">
  </div>
 
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>

  
  

{% endblock %}