{% extends "padre.html"%}

{%load static%}

{% block contenido%}
{%for m in mensaje%}
<div class="alert alert-success" role="alert">
    <strong>{{m}}</strong>
  </div>
{% endfor %}
<form action="publicacion" method="POST">
  {% csrf_token %}
  <div class="container">
    <div class="row">
    <div class="col-md-6">
    <label for="nombre" class="form-label">Titulo</label>
    <input type="text" class="form-control" id="nombre" name="titulo" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="apellido" class="form-label">Autor</label>
    <input type="text" class="form-control" id="apellido" name="autor" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Materia</label>
    <input type="text" class="form-control" id="dni" name="materia" aria-describedby="emailHelp">
  </div>
</div>
</div>
  
  
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>

  
  

{% endblock %}