{% extends 'padre.html'%}

{%load static %}

{% block contenido%}
<form action="registrar_estudiante" method="POST">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellido" name="apellido" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="dni" class="form-label">DNI</label>
    <input type="text" class="form-control" id="dni" name="dni" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
  </div>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>

  
  

{% endblock %}