{% extends 'padre.html' %}

{% load static %}

{% block contenido %}
<html>
<head>
    <title>Resultados de la Búsqueda</title>
</head>
<body>
    <h1>Resultados de la Búsqueda</h1>
    {% if publicaciones %}
        <ul>
            {% for n in publicaciones %}
                <li>{{ n.titulo }} - {{ n.autor }} - {{ n.materia }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron publicaciones para la materia especificada.</p>
    {% endif %}
</body>
</html>

{% endblock %}